.fl {
	float: left
}

.clearfix {
	display: block;
	clear: both
}

.code-block {
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 6px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

/* loading */
.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
/*loading */