.fl {
	float: left
}

.clearfix {
	display: block;
	clear: both
}

.code-block {
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 6px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

/* loading */
.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
/*loading */


/*************** Fix Dropdown Menu *************/
.vnp-dropdown {
  position: relative;
}
.vnp-dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.navbar-fixed-bottom .vnp-dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}
.navbar-fixed-bottom .vnp-dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.vnp-dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}
.navbar .nav li.vnp-dropdown > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-inverse .nav li.vnp-dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.navbar .nav li.vnp-dropdown a:hover .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	opacity: 1;
	filter: alpha(opacity=100);
}
.nav > .vnp-dropdown.active > a:hover {
  cursor: pointer;
}
.nav > li.vnp-dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.vnp-dropdown.open .caret,
.nav li.vnp-dropdown.open.active .caret,
.nav li.vnp-dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav li.vnp-dropdown.open > .dropdown-toggle,
.navbar .nav li.vnp-dropdown.active > .dropdown-toggle,
.navbar .nav li.vnp-dropdown.open.active > .dropdown-toggle {
  color: #555555;
  background-color: #e5e5e5;
}

.navbar .nav li.vnp-dropdown > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.navbar .nav li.vnp-dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.vnp-dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.vnp-dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-inverse .nav li.vnp-dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.vnp-dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.vnp-dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #111111;
}

.navbar-inverse .nav li.vnp-dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar-inverse .nav li.vnp-dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.vnp-dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.vnp-dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.modal-open .vnp-dropdown.open {
  *z-index: 2050;
}



/***********************************/




.vnp-dropdown .dropdown-menu .nav-header {
	display: block;
	padding: 3px 10px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}
.navbar .nav li.vnp-dropdown a:hover .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar .nav li.vnp-dropdown.open .caret, .navbar .nav li.vnp-dropdown.open.active .caret, .navbar .nav li.vnp-dropdown.open a:hover .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar .nav li.vnp-dropdown.open > .dropdown-toggle .caret, .navbar .nav li.vnp-dropdown.active > .dropdown-toggle .caret, .navbar .nav li.vnp-dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar .nav li.vnp-dropdown.open > .dropdown-toggle, .navbar .nav li.vnp-dropdown.active > .dropdown-toggle, .navbar .nav li.vnp-dropdown.open.active > .dropdown-toggle {
	background-color: transparent;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	color:#FFF;
}
.navbar .nav li.vnp-dropdown.active > .dropdown-toggle:hover {
	color: #ffffff;
}
/*************** Fix Dropdown Menu *************/