.topMenu {
	width: 100%;
	background-color:#322f32;
}

#topMenu-ctner ul.nav li.vnp-dropdown {
	float: left
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}



.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/*********************** NAV TOP MENU ***********************/

#jMenu {
	display:table;
	margin:0;
	padding:0
}

/********************/
/** premier niveau **/
/********************/
#jMenu li {
	display:table-cell;
	background-color:#322f32;
	margin:0;
	float:left;
	height: 30px;
	line-height: 10px;
	border-right: 1px solid #999
}
	#jMenu li a {
		padding:10px;
		display:block;
		background-color: transparent;
		color:#fff;
		text-transform: capitalize;
		cursor:pointer;
		font-size:12px;
		text-decoration: none
	}
	
/*******************/
/** second niveau **/
/*******************/
#jMenu li:hover,
#jMenu li ul li:hover {
	color: #e0078c;
	text-decoration: none;
}

#jMenu li ul {
	display:none;
	position:absolute;
	padding:0;
	margin:0
}
	#jMenu li ul li {
		background-color:#322f32;
		display:block;
		border-bottom:1px solid #484548;
		padding:0
	}
	#jMenu li ul li.arrow {
		background:#322f32 url('../images/arrow_down.png') no-repeat center center;
		height:6px;
		padding:0;
		border-bottom:none;
		padding-bottom:10px
	}
		#jMenu li ul li a {
			font-size:11px;
			text-transform:none;
			padding:7px;
			display:block;
			border-top:1px solid transparent;
			border-bottom:1px solid transparent;
		}
		#jMenu li ul li a.isParent {
			background:#3A3A3A url('../images/arrow_right.png') no-repeat right center;
		}
			#jMenu li ul li a:hover {
				background-color:#514c52;
				border-top:1px solid #322f32;
				border-bottom:1px solid #322f32;
			}

/*********************** NAV TOP MENU ***********************/