@charset "utf-8";
@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.vnpMainBody {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}
#vnpContainer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topMenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sideBar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-right: 1px solid #ccc
}
#mainContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.vnpMainBody {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}
#vnpContainer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topMenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sideBar {
	clear: none;
	float: left;
	margin-left: 0;
	width: 30%;
	display: block;
}
#mainContent {
	clear: none;
	float: left;
	margin-left: 2%;
	width: 68%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.vnpMainBody {
	width: 100%;
	max-width: 1366px;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}
#vnpContainer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topMenu {
	clear: both;
	float: left;
	padding-left: 15%;
	width: 85%;
	display: block;
}
#sideBar {
	clear: none;
	float: left;
	margin-left: 0;
	width: 15%;
	display: block;
}
#mainContent {
	clear: none;
	float: left;
	margin-left: 1%;
	width: 83%;
	display: block;
}
}


.btn {
	padding: 4px 10px 4px;
	font-size: 13px;
}

.memu {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.memu ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: -9999px;
	margin-left: 20px;
	width: 150px;
	
	-moz-box-shadow: 3px 2px 3px #333;
	-webkit-box-shadow: 3px 2px 3px #333;
	box-shadow: 3px 2px 3px #333;
}
.memu ul ul {
	margin-left: 0px;
	margin-top: 0px;
	
}
.memu a {
	background: #fff;
	background-color: rgba(255, 255, 255, 0.98);
	border: 1px solid #f7f7f7;
	color: #333;
	display: block;
	font: bold 12px/25px segoe ui,verdana,sans-serif;
	margin: 0 -1px -1px 0;
	padding-left: 10px;
	text-decoration: none;
	width: 139px;
	text-overflow: ellipsis;
}

.memu .memu-icon {
	position: relative;
	width: 16px; 
	height: 16px; 
	margin: 4px 10px 0px 0px;
	float: left;
}

.memu li.memu-root > a {
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	background: transparent !important;
}

.memu li {
	float: left;
}
.memu li.has-children > a {
	background: url("arrow.png") no-repeat scroll #fff;
	background-position: 130px center;
	background-color: rgba(255, 255, 255, 0.98);
}
.memu li:hover {
	position: relative;
	z-index: 100;
}
.memu li:hover > a {
	background-color: #fff;
	border-color: #fafafa;
	color: #56789A;
}
.memu li:hover > ul {
	left: -20px;
	opacity: 1;
	top: 26px;
	z-index: -1;
}
.memu li:hover li:hover > ul {
	left: 150px;
	opacity: 1;
	top: 0px;
	z-index: 100;
}

.memu-current {
	background-color: #abcdef !important;
	background-color: rgba(235, 245, 255, 0.98 !important);
}