@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif
}
strong {
	font-weight: bold;
}
table, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	margin: 0;
	padding: 0;
}
table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background: transparent;
}
caption {
	text-align: center;
	background-color: #EFEFEF;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	font-weight: bold;
	padding: 5px;
}
tr {
	background-color: #FFF;
}
tr th, #content thead th {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
	background-color: #f8f8f8;
	border: 1px solid #CCCCCC;
}
tr td {
	border: 1px solid #CCCCCC;
	vertical-align: top;
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
.fl {
	float: left;
}
.fr {
	float: right
}
.clear {
	clear: both
}
